%header
  .banner
    .banner__logo
      = image_tag "城の無料アイコンその2",size: "50x50"
      = link_to "castlestyle", "/", class: "banner__logo_name"
    .banner__search
      %form{action: "", method: "POST",class: "banner__search__form"}
        %dl.banner__search__form__field
          %dt
            %input{type: "text",name: "keyword",id: "keyword", class: "banner__search__form__field_input", placeholder: "キーワード検索"}
          %dd.banner__search__form__field__submit
            %button{type: "submit", class: "banner__search__form__field__submit__global"}
              %span.banner__search__form__field__submit__global_field
                %i.