%header
  .banner
    = render "castle/header"
.narrow
  %h2.narrow__head
    SNSアカウントで登録・ログイン
    %hr.narrow__head__separator
  .narrow__login
    %a{href:"", class: "narrow__login__face"}
      .narrow__login__face__inner
        %i.fab.fa-facebook-square.narrow__login__face__inner__book
        %br
          Facebook
    .narrow__login__separator
    %a{href: "", class:"narrow__login__container"}
      .narrow__login__container__inner
        %i.fab.fa-twitter-square.narrow__login__container__inner__twitter
        %br
          Twitter

.container
  %h2.container__heading
    メールアドレスでログイン
    %hr.container__heading_separator
  .container__form
    %form{class: "container__form__user"}
      .container__form__user__mail
        %label.container__form__user__mail_text
          メールアドレス
        %input{autofocus: "autofocus", autocomplete: "email", class: "container__form__user__mail_input"}
      .container__form__user__mail
        %label.container__form__user__mail_text
          パスワード
        %input{autocomplete: "off", class: "container__form__user__mail_input"}
      .container__form__user__actions
        %input{type: "submit",class: "container__form__user__actions_primary",value: "ログイン" }
        .container__form__user__actions__secondary
          = link_to "新規登録はこちら", ""
          %div
            = link_to "パスワードが分からない場合はこちら", ""