%header
  .banner
    = render "castles/header"

    .banner__login
      = link_to "ログイン", "", class: "banner__login_in"

%div.registration
  .registration__container
    .registration__container__notice
      投稿にはユーザー登録が必要です
  .registration__narrow
    %h2.registration__narrow__heading
      ユーザー登録
      %hr.registration__narrow__heading_separator
    .registration__narrow__form
      %form{class: "registration__narrow__form__user", method: "post"}
        .registration__narrow__form__user__field
          %label.registration__narrow__form__user__field__text
            メールアドレス
          %input{autofocus: "autofocus", autocomplete: "email", class: "registration__narrow__form__user__field_input"}
        .registration__narrow__form__user__field
          %label.registration__narrow__form__user__field__text
            ユーザー名
          %span.registration__narrow__form__user__field_label
            (3~20文字・絵文字使用不可)
          %input{class: "registration__narrow__form__user__field_input", type: "text"}
        .registration__narrow__form__user__field
          %label.registration__narrow__form__user__field__text
            パスワード
          %splan.registration__narrow__form__user__field_label
            (6文字以上)
          %input{autocomplete: "off", class: "registration__narrow__form__user__field_input", type: "password"}
        .registration__narrow__form__user__actions
          %input{type: "submit", value: "登録", class: "registration__narrow__form__user__actions__primary"}
          .registration__narrow__form__user__actions__already
            = link_to "すでに登録済みの方はこちら", ""