.style{
  &__photo{
    &__header{
      text-align: center;
      background-size: cover;
      background-position: center center;
      font-size: 17px;
      font-weight: bold;
      border-bottom: 1px solid #eeeeee;
      padding: 12px 0;
      &__container{
        padding: 8px 0;
        color: black;
      }
    }
    &__narrow{
      width: 100%;
      max-width: 620px;
      margin: 0 auto;
      &__container{
        margin-bottom: 24px;
        &__new{
          &__heading{
            padding-left: 0;
            font-size: 16px;
            margin: 24px auto 0 auto;
            padding: 12px 0 24px 0;
            position: relative;
            &__separator{
              display: block;
              position: absolute;
              width: 60px;
              height: 1;
              border: 0;
              border-top: 1px solid #9d0e12;
            }
          }
          &__notice{
            background: #fafafa;
            font-size: 12px;
            padding: 12px 24px;
            border-radius: 12px;
          }
          &__select{
            margin-top: 12px;
            &__theme{
              width: 100%;
              cursor: pointer;
              height: 36px;
              border: 1px solid #d0d0d0;
              background: #fff;
            }
            .style__photo__narrow__container__new__select__theme:focus{
              outline: 0;
              border: 1px solid black;
            }
          }
          &__photo{
            background: #eeeeee;
            margin-bottom: 24px;
            height: 0;
            padding-bottom: 75%;
            background-size: 32px 32px;
            text-align: center;
            background-position: center center;
            margin-top: 12px;
            &__image{
              width: 100%;
              vertical-align: bottom;
              display: none;
            }
          }
          &__field{
            margin-top: 24px;
            margin-bottom: 24px;
            &__secondary{
              width: 200px;
              font-size: 12px;
              text-align: center;
              color: #9d0e12;
              border-radius: 15px;
              height: 30px;
              margin: 0 auto;
              line-height: 30px;
              display: block;
              border: 1px solid #9d0e12;
              text-decoration: none;
              cursor: pointer;
            }
          }
          &__place{
            &__collection{
              display: list-item;
              padding: 8px 0 8px 12px;
              height: 20px;
              border-bottom: 1px solid #eeeeee;
              &__container{
                width: 100%;
                &__name{
                  line-height: 1.2;
                  font-size: 15px;
                  float: left;
                }
                &__action{
                  display: inline-flex;
                  float: right;
                  &_delete{
                    font-size: 13px;
                    color: #9d0e12;
                    text-decoration: none;
                  }
                }
              }
            }
            &__field{
              margin-top: 24px;
              margin-bottom: 24px;
              &__add{
                font-size: 12px;
                width: 200px;
                text-align: center;
                color: #9d0e12;
                border: 1px solid #9d0e12;
                border-radius: 15px;
                line-height: 30px;
                margin: 0 auto;
                display: block;
                text-decoration: none;
              }
              #style__photo__narrow__container__new__place__field__add:focus{
                outline: 0;
                border: 1px solid black;
              }
            }
          }
          &__area{
            &__label{
              font-size: 12px;
              color: black;
              font-weight: bold;
            }
            &__text{
              border: 1px solid #9d0e12;
              display: block;
              padding: 12px;
              border-radius: 8px;
              box-sizing: border-box;
              width: 100%;
              margin-top: 4px;
              margin-bottom: 12px;
            }
            .style__photo__narrow__container__new__area__text:focus{
              outline: 0;
              border: 1px solid black;
            }
          }
          &__actions{
            text-align: center;
            margin-top: 24px;
            &__primary{
              background: #9d0e12;
              color: white;
              width: 200px;
              font-size: 14px;
              text-align: center;
              border: 1px solid #9d0e12;
              border-radius: 22px;
              height: 44px;
              line-height: 44px;
              margin: 0 auto;
              display: block;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
#preview-image{
  width: 100%;
  height: 465px;
}

#style__photo__narrow__container__new__place__field__add{
  font-size: 12px;
  width: 200px;
  text-align: center;
  color: #9d0e12;
  border: 1px solid #9d0e12;
  border-radius: 15px;
  line-height: 30px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

#overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-sizing: border-box;
  background: #fff;
  display: none;
}

#close{
  position: absolute;
  right: 12px;
  top: 15px;
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
  color: #9d9d9d;
  border: none;
  cursor: pointer;
}
#close:focus{
  outline: none;
}

.modal{
  &__header{
    color: #4c4c4c;
    position: relative;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
    padding: 12px 0;
  }
  &__tab{
    &__search{
      padding: 12px;
      position: relative;
      &__prevent{
        #modal__tab__search__prevent__input{
          background: #eeeeee;
          color: #4c4c4c;
          font-size: 14px;
          border: none;
          border-radius: 6px;
          padding: 12px;
          width: 98%;
        }
        #modal__tab__search__prevent__input:focus{
          outline: 0;
          border: 1px solid #9d0e12;
        }
      }
    }
    &__result{
      &__collect{
        box-sizing: border-box;
        &__place{
          padding: 15px 0 15px 15px;
          border-bottom: 1px solid #eeeeee;
          display: flex;
          &__contain{
            &__name{
              line-height: 1.2;
              font-size: 15px;
              width: 100%;
              display: flex;
            }
            &__select{
              width: 50px;
              float: right;
            }
          }
        }
      }
    }
  }
}

#modal__tab__result__collect__place__contain__select__action{
  font-size: 13px;
  color: #9d0e12;
  border: 0;
  cursor: pointer;
  width: 50px;
  float: right;
}
#modal__tab__result__collect__place__contain__select__action:focus{
  outline: 0;
}

#style__photo__narrow__container__new__place__collection__container__action_delete{
  font-size: 13px;
  color: #9d0e12;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  float: right;
}

#style__photo__narrow__container__new__place__collection__container__action_delete:focus{
  outline: 0;
}

.style__photo__narrow__container__new__actions__primary:focus{
  outline: 0;
}