.banner__logo
  = image_tag "castle.png",size: "40x40"
  = link_to "castlestyle", "/", class: "banner__logo_name"

  - if user_signed_in?
    .banner__mypage
      = link_to users_path, class: "banner__mypage_in" do
        %i.fas.fa-user.banner__mypage__user
        MYページ
  - else
    .banner__login
      = link_to "ログイン", new_user_session_path, class: "banner__login_in"

-# .banner__search
-#   %form_tag{action: "search_path", method: "get",class: "banner__search__form"}
-#     %dl.banner__search__form__field
-#       %dt
-#         %input{type: "text",name: "keyword",id: "keyword", class: "banner__search__form__field_input", placeholder: "キーワード検索"}
-#       %dd.banner__search__form__field__submit
-#         %button{type: "submit", class: "banner__search__form__field__submit__global"}
-#           %span.banner__search__form__field__submit__global_field
-#             %i.fas.fa-search