%aside.page__style__rank__ranking
  %h4.page__style__rank__ranking__list
    投稿ランキング
    %hr.page__style__rank__ranking__list__separator
  %ul.page__style__rank__ranking__view
    - @castle_ids.each do |castle_id, i|
      %li.page__style__rank__ranking__view__data
        = link_to "" ,class: "page__style__rank__ranking__view__data__link" do
          .page__style__rank__ranking__view__data__link__box
            .page__style__rank__ranking__view__data__link__box__cell
              %p.page__style__rank__ranking__view__data__link__box__cell__lighter
              .page__style__rank__ranking__view__data__link__box__cell__space
                = Citadel.find(castle_id).name
              
          .page__style__rank__ranking__view__data__link__gazou
            = image_tag Citadel.find(castle_id).image