%header
  .banner
    = render "castles/header"

.page
  %h1.page__heading
    お城スタイル
    %hr.page__heading__separator
  .page__style
    %ul.page__style__large
      - @castles.each do |castle|
        %li.page__style__large__narrow
          %a{href: "", class: "page__style__large__narrow__list"}
            .page__style__large__narrow__list__thumbnail
              .page__style__large__narrow__list__thumbnail__image
                = image_tag castle.image
            .page__style__large__narrow__list__title
              .page__style__large__narrow__list__title__article
                = castle.content
            .clearfix
    .page__style__rank
      = render 'rank'


  =paginate(@castles)