%header
  .banner
    = render "castles/header"

.page
  %h1.page__heading
    お城スタイル
    %hr.page__heading__separator
  %ul.page__large
    %li.page__large__narrow
      %a{href: "", class: "page__large__narrow__list"}
        .page__large__narrow__list__thumbnail
          .page__large__narrow__list__thumbnail__image
        .page__large__narrow__list__title
          .page__large__narrow__list__title__article
        .clearfix