%header
  .banner
    = render "castles/header"

.pages
  %h1.pages__heading
    お城スタイル
    %hr.pages__heading__separator
  %ul.pages__large
    - @castles.each do |castle|
      %li.pages__large__narrow
        %a{href: "", class: "pages__large__narrow__list"}
          .pages__large__narrow__list__thumbnail
            .pages__large__narrow__list__thumbnail__image
              = image_tag castle.image
          .pages__large__narrow__list__title
            .pages__large__narrow__list__title__article
              = castle.content
          .clearfix
  = paginate(@castles)